In [5]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.api import VAR
import seaborn as sns

In [6]:
slots = range(5)

In [7]:
for slot in slots:
    print(f"reading cl{slot}_pivot.csv")
    df = pd.read_csv(f"../../data/processed/cl{slot}_pivot.csv")
    df.set_index("week_start", inplace=True)
    data = np.log(df).diff().dropna()
    model = VAR(data, freq='W')
    results = model.fit(1)
    df_new = pd.DataFrame(columns=df.columns)
    df_new.loc[0] = results.forecast(df.values[-1:], 1)[0]
    df_new.to_csv(f"../../data/processed/cl{slot}_forecast.csv")

reading cl0_pivot.csv
reading cl1_pivot.csv
reading cl2_pivot.csv
reading cl3_pivot.csv
reading cl4_pivot.csv

In [8]:
df_new

,131,134,217,243,262,283,396,534,563,686,...,7456,7689,7744,7841,7919,7948,8390,8866,9836,9865
0,148.176767,327.808609,375.772968,158.184751,305.502943,232.143107,367.282345,423.980105,-378.721031,326.495012,...,209.290677,83.463583,187.616046,-497.801169,199.851941,-1683.784729,278.227228,134.26527,172.291096,1427.73836