In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.api import VAR
import seaborn as sns

In [2]:
mdata = sm.datasets.macrodata.load_pandas().data

In [3]:
mdata

       year  quarter    realgdp  realcons  ...  unemp      pop  infl  realint
0    1959.0      1.0   2710.349    1707.4  ...    5.8  177.146  0.00     0.00
1    1959.0      2.0   2778.801    1733.7  ...    5.1  177.830  2.34     0.74
2    1959.0      3.0   2775.488    1751.8  ...    5.3  178.657  2.74     1.09
3    1959.0      4.0   2785.204    1753.7  ...    5.6  179.386  0.27     4.06
4    1960.0      1.0   2847.699    1770.5  ...    5.2  180.007  2.31     1.19
..      ...      ...        ...       ...  ...    ...      ...   ...      ...
198  2008.0      3.0  13324.600    9267.7  ...    6.0  305.270 -3.16     4.33
199  2008.0      4.0  13141.920    9195.3  ...    6.9  305.952 -8.79     8.91
200  2009.0      1.0  12925.410    9209.2  ...    8.1  306.547  0.94    -0.71
201  2009.0      2.0  12901.504    9189.0  ...    9.2  307.226  3.37    -3.19
202  2009.0      3.0  12990.341    9256.0  ...    9.6  308.013  3.56    -3.44

[203 rows x 14 columns]

In [4]:
dates = mdata[['year', 'quarter']].astype(int).astype(str)